.banner2{
    display: flex;
    /* outline: thin solid red;  */
    box-shadow: 5px 10px 50px rgb(241, 155, 84) inset;

    margin-bottom: 1%;

}

.banner2-img {
    position: relative;
    width: 60%;
    /* height: 20%; */
    /* text-align: center; */

    margin-left: 20%;
    /* margin-right: 5%; */
    margin-top: 1%;
    margin-bottom: 1%;

   
}

.text-on-image{
    outline: red 2px solid;
    position: absolute;
    /* text-align: center; */
    right: 50%;
    left: 50%;
    bottom: 25%;
    /* display: flex; */

    white-space: nowrap;

    

}