.banner{
    display: flex;
    /* outline: thin solid red;  */
    box-shadow: 10px 20px 50px rgb(158, 169, 216) inset;

    margin-bottom: 50px;
}

.banner-img {
    width: 75%;
    height: 70%;

    padding-top: 30px;
    padding-bottom: 30px;

    margin-left: 200px;
    margin-right: 200px;

   
}