.header-bar {
    border: 0px solid black;
    background-color: rgba(235, 232, 232, 0.993);
    
    /* position: fixed;
    top: 0;
    width: 100%; */
    /* margin-bottom: 2%; */
}

/* 
@media only screen and (max-width: 1200px) {
    .header-bar {
        background-color: blue;
    }
} */

.top-header {
    border: 0px solid black;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    border: 0px solid black;
    width: 30%;
    /* order: 1; */
    background-image: linear-gradient(100deg, red, blue);
    background-clip: text;
    color: transparent;
}

h1 {
    text-align: center;
}

.search-bar {
    border: 0px solid black;
    text-align: center;
    width: 30%;
    /* order: 2; */
}

.interactionIcons {
    border: 0px solid black;
    text-align: center;
    /* order: 3; */
    width: 40%;
}

.comments-icon {
    padding-left: 5%;
}

.user-icon {
    padding-left: 15%;
}

.heart-icon {
    padding-left: 15%;
}

.cart-icon {
    padding-left: 15%;
}

.navbar-menu {
    border: 0px solid black;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 7px;
    border-bottom: 2px solid rgb(212, 206, 198);
    margin-bottom: 10px;
    padding-left: 90px;
    padding-right: 68px;
}

.home-nav {
    border: 0px solid black;
    text-align: center;
    width: 14.28%;
    order: 1;
    text-decoration: none;

}

.outdoor {
    border: 0px solid black;
    text-align: center;
    width: 14.28%;
    order: 2;
    text-decoration: none;

}

.furniture {
    border: 0px solid black;
    text-align: center;
    width: 14.28%;
    order: 3;
    text-decoration: none;

}

.home-decor {
    border: 0px solid black;
    text-align: center;
    width: 14.28%;
    order: 4;
    text-decoration: none;

}

.rugs {
    border: 0px solid black;
    text-align: center;
    width: 14.28%;
    order: 5;
    text-decoration: none;

}

.lighting {
    border: 0px solid black;
    text-align: center;
    width: 14.28%;
    order: 6;
    text-decoration: none;

}

.styles-inspo {
    border: 0px solid black;
    text-align: center;
    width: 14.28%;
    order: 7;
    text-decoration: none;

}