/* Ignore this */

.signup-container{
    outline: 1px solid ;
    

}

.email-capture{
    display: flex;
    margin-left: 80px;
    margin-right: 80px;

    padding-top: 30px;
    padding-bottom: 30px;
}

.signup-title{
    width: 50%;

}

.p-title{
    font-size: 20px;
    color: rgb(80, 77, 77);
}

.signup-form{
    width: 50%;

}

.email{
    border: 0px;
    font-size: 17px;
    border-bottom: 1px solid black;
    color: rgb(172, 155, 155);

    width: 60%;

    margin-right: 20px;

}

.sign-up-button{
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgb(121, 113, 113);
    align-items: center;

    box-shadow: 5px 5px 20px rgb(36, 35, 33) inset;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;


}